@use '/src/styles/constants/colors';

.appWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.suspense {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 720px;
  padding: 50px 25px;
  font-family: 'Noto Sans KR', sans-serif;
  background: #05103a;
  border-radius: 36px;
  overflow: hidden;
}
