@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.movieListWrapper {
  margin-top: 10px;

  ul {
    height: 510px;
    overflow-y: scroll;

    .movieInfoInner {
      li + li {
        margin-top: 10px;
      }

      .posterBlock {
        img {
          width: 90px;
          height: 160px;
        }
      }
    }

    .endMsg {
      display: none;
    }
  }
}
