@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.searchForm {
  input[type='text'] {
    width: 100%;
    padding: 12px 30px;
    padding-left: 45px;
    font-size: 18px;
    color: colors.$WHITE;
    background: #2c3759;
    border-radius: 20px;

    &::placeholder {
      color: #626a84;
    }
  }

  button {
    position: absolute;
    padding: 10px 15px;
    color: colors.$WHITE;
    transform: translate(2px, 2px);

    svg {
      width: 20px;
      height: 20px;

      &:hover {
        stroke-width: 1px;
      }
    }
  }
}
