@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.searchForm {
  input[type='text'] {
    width: 100%;
    padding: 5px 15px;
    padding-right: 30px;
    font-size: 18px;
    color: colors.$WHITE;
    border-bottom: 1px solid colors.$WHITE;
  }

  button {
    position: absolute;
    padding: 10px 15px;
    color: colors.$WHITE;
    transform: translate(-40px, -4px);

    svg {
      width: 20px;
      height: 20px;

      &:hover {
        stroke-width: 1px;
      }
    }
  }
}
