@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

@keyframes rotateImoji {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(3);
  }
}

.notFound {
  @include flexbox.flexbox('center', 'center');
  flex-direction: column;
  width: 360px;
  height: 720px;
  padding: 50px 25px;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  color: colors.$POINT_SKYBLUE;
  text-align: center;
  background: colors.$APP_BACKGROUND;
  border-radius: 36px;

  h1 {
    font-size: 50px;
    font-weight: 600;
    color: colors.$ALERT_COLOR;
    text-transform: uppercase;
  }

  p {
    margin-top: 80px;
    font-size: 90px;
    animation: rotateImoji 1.4s ease-in infinite alternate;
  }
}
