@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.spinnerWrapper {
  width: 360px;
  height: 60px;
  border-radius: 36px;
  transform: translate(-11%, -20%);

  &::before {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    width: 40px;
    height: 40px;
    content: '';
    background: transparent;
    border: 5px solid colors.$APP_BACKGROUND;
    border-top-color: colors.$POINT_SKYBLUE;
    border-bottom-color: colors.$POINT_SKYBLUE;
    border-radius: 50%;
    animation: spinner 0.8s ease infinite;
  }
}
