@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.layOutWrapper {
  position: relative;
  width: 360px;
  height: 720px;
  padding: 50px 25px;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  color: colors.$POINT_SKYBLUE;
  background: colors.$APP_BACKGROUND;
  border-radius: 36px;

  h1 {
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
}
