@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

@keyframes slideUp {
  0% {
    display: none;
    transform: translateY(2%);
  }

  50% {
    display: block;
    transform: translateY(-2%);
  }

  100% {
    display: block;
    transform: translateY(0%);
  }
}

.modalWrapper {
  @include flexbox.flexbox('center', 'center');
  position: fixed;
  bottom: 50%;
  left: 50%;
  width: 360px;
  height: 720px;
  background: rgba(colors.$BLACK, 70%);
  border-radius: 36px;
  transform: translate(-50%, 50%);

  .modalInner {
    @include flexbox.flexbox('center', 'center');
    flex-direction: column;
    width: 300px;
    min-height: 240px;
    padding: 20px;
    color: colors.$WHITE;
    background: #13254a;
    border-radius: 20px;
    animation: slideUp 0.25s ease forwards;

    .modalInfo {
      line-height: 20px;
      text-align: center;

      img {
        width: 90px;
      }

      .infoTitle {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 3px;
      }
      .noticeText {
        font-size: 14px;
        margin-top: 10px;
        color: #f77171;
      }
    }

    .modalBtns {
      margin-top: 10px;

      button {
        width: 100px;
        padding: 5px 20px;
        margin: 5px;
        border: 2px solid #2c3759;
        border-radius: 10px;

        svg {
          color: #4ad0ee;
        }

        &:hover {
          background: #4ad0ee;

          svg {
            color: #081649;
          }
        }

        &.fillStar {
          background-color: #4ad0ee;
          svg {
            color: colors.$WHITE;
          }
        }
      }
    }
  }
}
