@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.movieInfoInner {
  display: block;
  width: 100%;
  // border: 1px solid #293a74;
  border-radius: 20px;

  button {
    display: flex;
    height: 160px;
    color: colors.$WHITE;
  }

  & + & {
    margin-top: 10px;
  }

  .posterBlock {
    position: relative;

    &.bookmarked {
      &::before {
        position: absolute;
        width: 40px;
        height: 40px;
        padding-left: 8px;
        font-size: 22px;
        text-align: left;
        content: '★';
        background-color: #ffcc00;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 50px;
      }
    }

    img {
      width: 120px;
      min-width: 120px;
      height: 160px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }

  .infoBlock {
    width: 180px;
    text-align: left;
    margin-left: 10px;

    .titleText {
      display: block;
      width: 180px;
      max-height: 55px;
      overflow: hidden;
      font-size: 22px;
      font-weight: 600;

      span {
        font-size: 14px;
      }
    }
  }
}
