@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

@keyframes fadeInItems {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(10%);
  }
}

.movieInfoInner {
  display: flex;
  width: 307px;
  height: 160px;
  background: #05103a;
  color: colors.$WHITE;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 2px;

  & + & {
    margin-top: 10px;
  }

  &.dragList {
    &:hover {
      background: linear-gradient(90deg, hsla(191deg, 83%, 61%, 75%) 38%, hsla(247deg, 71%, 75%, 0) 85%);
    }

    &:hover {
      .editBtn {
        background: none;
      }
    }
  }

  .posterBlock {
    position: relative;

    &.bookmarked {
      svg {
        position: absolute;
        color: #ffcc00;
        transform: translate(-118px, -6px);
      }
    }

    img {
      width: 120px;
      min-width: 120px;
      height: 160px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }

  .infoBlock {
    width: 180px;
    margin-left: 10px;
    text-align: left;

    .titleText {
      display: block;
      width: 180px;
      max-height: 55px;
      overflow: hidden;
      font-size: 22px;
      font-weight: 600;

      span {
        font-size: 14px;
      }
    }
  }

  .editBtn {
    position: relative;
    right: 28px;
    bottom: 0;
    width: 25px;
    height: 160px;
    background: linear-gradient(90deg, transparent, rgba(74, 208, 238, 0.25));
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    svg {
      color: colors.$WHITE;
    }

    &:hover {
      background: none;
    }
  }
}
