@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.movieBlock {
  position: relative;
  cursor: default;

  & + & {
    margin-top: 10px;
  }

  .movieWrapper {
    display: flex;
    width: 300px;
    height: 160px;
    margin-top: 2px;
    color: colors.$WHITE;
    cursor: pointer;
    background: #05103a;
    border-radius: 20px;

    & + & {
      margin-top: 10px;
    }

    .posterWrapper {
      position: relative;

      img {
        width: 120px;
        min-width: 120px;
        height: 160px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }

      svg {
        position: absolute;
        color: colors.$BOOKMARK;
        transform: translate(-120px, -6px);
      }
    }

    .infoWrapper {
      width: 180px;
      padding: 10px 35px;
      padding-left: 5px;
      margin-left: 10px;
      text-align: left;

      .titleText {
        display: block;
        width: 153px;
        max-height: 55px;
        overflow: hidden;
        font-size: 22px;
        font-weight: 600;

        span {
          font-size: 14px;
        }
      }
    }
  }

  .dragBtn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 48px;
    height: 160px;
    color: colors.$WHITE;
    background: linear-gradient(90deg, transparent, rgba(74, 208, 238, 25%));
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    &:hover {
      background: none;
    }
  }
}
