@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

@keyframes showUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.movieListWrapper {
  margin-top: 10px;

  .itemsWrapper {
    height: 510px;
    overflow-y: scroll;

    .movieInfoInner {
      li + li {
        margin-top: 10px;
      }

      .posterBlock {
        img {
          width: 90px;
          height: 160px;
        }
      }
    }

    .endMsg {
      display: none;
      padding: 10px;
      margin: 10px;
      font-size: 20px;
      text-align: center;
      animation: showUp 1s ease infinite alternate;
    }
  }

  &.isTaller {
    height: 540px;
    margin-top: 25px;
  }
}
